<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Text_Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Text_Editor.Properties.Settings>
            <setting name="EnableWordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Consolas, 11.25pt</value>
            </setting>
            <setting name="RecentFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="MaxRecentFiles" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SaveRecentFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RedoShortcut" serializeAs="String">
                <value>Ctrl+Y</value>
            </setting>
        </Text_Editor.Properties.Settings>
    </userSettings>
</configuration>
